@import './base.css';

#app {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: normal;
}

body {
    display: flex;
    min-height: 100vh;
    color: var(--vt-c-text-dark-1);
    background: var(--vt-c-black);
    transition: background 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--vt-c-divider-dark-1);
    }
}